.zoomContainer, .zoomViewPort
{
	margin	: 0;
	padding	: 0;
}
/*	basic elements
 *	--------------------------------------------------------------------------*/
body
{
	font-size:			1em;
	font-family:		museo, serif;
	background-color:	#fafafa;
}

/*	structural elements
 *	--------------------------------------------------------------------------*/
#scrolling-bar
{
	top			: 0;
	padding		: 0.5em 0;
	position	: fixed;
	width		: 100%;
	height		: 3em;
	overflow	: hidden;
	z-index		: 9999;
}

#progress
{
	float:	right;
}

.titles
{
	line-height: 3em;
	display:	block;
}

.titles li
{
	margin-right:	5.5em;
	display:		inline;
}

.bar-container
{
	height:	1px;
	background-color:	#fafafa;
	display:	block;
	float:	right;
	position:	relative;
	bottom:	0.25em;
}

.bar-fill {
	height: 			1px;
	width:				8em;
	background-color:	#ff0000;
	display: 			block;
}

#phase-input, #phase-share
{
	position			: relative;
	width				: 100%;
	overflow			: hidden;
}

#phase-visualize
{
	position			: relative;
	width				: 100%;
	background-color	: #333333;
}

#toggle-settings
{
	display				: block;
	height				: 3rem;
	width				: 4.5rem;
	font-size			: 1.25rem;
	border-radius		: 0.25rem;
	font-family			: museo, sans-serif;
	color				: #ffffff;
	background-color	: rgba(220, 220, 220, 0.2);
	outline				: none;
	border				: 1px solid #eeeeee;
	text-align			: center;
	position			: absolute;
	top					: 6.5rem;
	right				: 2.75rem;
	background-image	: url('gear.svg');
	background-size		: 2rem 2rem;
	background-repeat	: no-repeat;
	background-position	: center center;
	z-index				: 100;

}

#toggle-layout, #toggle-style
{
	display				: block;
	height				: 3rem;
	width				: 4.5rem;
	font-size			: 1.25rem;
	border-radius		: 0.25rem;
	font-family			: museo, sans-serif;
	color				: #ffffff;
	background-color	: rgba(0, 0, 0, 0.1);
	outline				: none;
	border				: 1px solid #222222;
	text-align			: center;
	position			: absolute;
	top					: 2rem;
	right				: 2.75rem;
}

#toggle-layout
{
	right						: 7.25rem;
	border-right				: 0;
	border-top-right-radius		: 0;
	border-bottom-right-radius	: 0;
	background-image	: url('layout.svg');
	background-size		: 2rem 2rem;
	background-repeat	: no-repeat;
	background-position	: center center;
}

#toggle-style
{
	right						: 2.75rem;
	border-top-left-radius		: 0;
	border-bottom-left-radius	: 0;
	background-image	: url('style.svg');
	background-size		: 2rem 2rem;
	background-repeat	: no-repeat;
	background-position	: center center;
}


#toggle-style:hover, #toggle-settings:hover, #toggle-layout:hover
{
	background-color	:#f62525;
	border				: none;
}

#blank-canvas
{
	display	: none;
}


#share-container
{
	display		: block;
	position	: absolute;
	margin-top	: -2rem
}

#share-chart
{
	text-align		: center;
	outline			: none;
	border			: none;
	width			: 22rem;
	height			: 4.5rem;
	padding-top		: 0.75rem;
	margin-left		: -0.75rem;
	vertical-align	: middle;
	font-family		: museo, sans-serif;
	font-weight		: 500;
	color			: #ffffff;
	font-size		: 2rem;
	background-color	: #f62525;
	border-radius	: 0.25rem;
}

#share-chart-container
{
	display	: inline-block;
	overflow	: hidden;
	width		: 20rem;
	margin-left	:	1rem;
	margin-right	: 1rem;
	border-radius	: 0.25rem;
	vertical-align	: middle;
	background-color	: #f62525;
	height		: 4.5rem;
	outline	: none;
}


#share-option
{
	height		: 55%;
	width		: 100%;
	border-bottom:	2px solid #eeeeee;
	overflow	: hidden;
}

#share-prompt
{
	vertical-align	: middle;
	padding-top		: 2rem;
	text-align		: center;
	display			: block;
	margin-left		: auto;
	margin-right	: auto;
	width			: 50rem;
	height			: 2em;
}

#share-prompt p, #share-chart
{
	display	 		: inline;
}

#share-prompt p
{
	font-weight	: 300;
	line-height		: 4.5rem;
	font-size	: 1.5em;
	color		: #777777;
}
/*	recurring design elements
 *	--------------------------------------------------------------------------*/

/*	white background and drop shadow	*/
#scrolling-bar
{
	background-color:	white;
}

/* museo dark color */
#scrolling-bar
{
	color:	#444444;
}

/* museo 700 */
#scrolling-bar
{
	font-weight: 700;
}

/* museo larger size */
#scrolling-bar
{
	font-size:	1.15em;
}

/* left window margin */
#progress
{
	margin-right:	2.5em;
}
