<!DOCTYPE html>
<html>
<head>
<meta http-equiv = 'Content-type' content = 'text/html; charset = utf-8' />
<title>Template</title>
<script src = 'jquery-min.js'></script>
<script src = 'underscore-min.js'></script>
<script src = 'raphael-min.js'></script>
<script src = 'grid.js'></script>
 
<style type='text/css'>
@import url('reset.css');

@font-face 
{
}

body 
{
	background: white;
}
#inputBox {
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -250px;
	margin-top: -150px;
	width: 500px;
	height: 300px;
	overflow: auto;

}
</style>
</head>
<body>
<div id = 'inputBox'>

</div>
</body>
</html>
