<!DOCTYPE html>
<html>
<head>
<meta http-equiv = 'Content-type' content = 'text/html; charset = utf-8' />
<title>Template</title>
<script src = 'jquery-min.js'></script>
<script type="jquery.scrollTo-1.4.3.1-min.js"></script>
<script src = 'underscore-min.js'></script>
<script src = 'raphael-min.js'></script>
<script src = 'tree.js'></script>

<style type='text/css'>
@import url('reset.css');

@font-face 
{
}

body 
{
	background: url('low_contrast_linen.png');
}
#container {
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -400px;
	margin-top: -300px;
	width: 800px;
	height: 600px;
	overflow: auto;
	border: 1px solid black;
}
#title {
	font-family: 'Lucidia Grande';
	font-size: 50px;
}
</style>
</head>
<body>
<div id = "container">

</div>
</body>
</html>
