@import url("baseline.base.css");
@import url("baseline.form.css");
@import url("baseline.reset.css");
@import url("baseline.type.css");
@import url("baseline.table.css");
@import url("baseline.grid.css");

@import url("hashgrid.css");

#main
{
	margin: 0 auto;
	background: #eeeeee;
	display: block;
	width: 1024px;
	height: 434px;
}
