/**
 *  COLORS ------------
 *   
 *	black		75% opacity
 *	black		25% opacity
 *	
 *	dark grey	#333333
 *	turquoise	#00ccff;
 *	light grey	#fafafa		(background)
 *	light grey	#e0e0e0		(borders)
 *	lime green 	#99ff00
 *
 */

body
{
	background: #fafafa;
	font-family: "Liberation Sans", Arial, sans-serif;
	font-size: 12px;
	color: #000000; 
}

h1 {}

h2
{
	line-height: 36px;
	font-size: 14px;
}

h3
{
	line-height: 36px;
	font-size: 20px; 
}

a:link, a:visited
{
	border-bottom: 1px solid dotted;
}

a:hover
{
	border-bottom-style: solid;
}

b
{
	font-weight: bold;
	display: block;
}

/* =selection
------------------------------------------------------------------------------*/
::selection
{
	background: #99ff00;
	color: #ffffff;
}
::-moz-selection 
{
	background: #99ff00;
	color: #ffffff;
}

h1, img, ul#navigation, ul#links
{
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}

/* =font-embedding
------------------------------------------------------------------------------*/
@font-face 
{  
	font-family: "Tetre";  
	src: url(/fonts/tetre_extra_bold.eot); /* IE */  
	src: local("Tetre"), url( /fonts/tetre_extra_bold.ttf ) format("truetype"); /* non-IE */  
}

/* =wrap
------------------------------------------------------------------------------*/
.wrap
{
	width: 512px;
	margin: 0 auto;
}

/* =header
------------------------------------------------------------------------------*/
#header
{
	padding: 0 12px;
	border-bottom: 1px solid #ffffff;
	position: fixed;
	z-index: 100;
	top: 0;
	left: 0;
	width: 100%;
	height: 35px;
	/*overflow: hidden; */
	line-height: 36px;
	color: #ffffff;
	background: #000000;
	/* adopted from http://robertnyman.com/2008/09/16/you-want-css-opacity-to-go-with-that-well-suit-yourself/ */
	opacity: 0.75;																/* For web browsers who care */		
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=75);				/* For IE 5-7 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";			/* For IE 8 (and 9, 10, 11?). Don't miss the added quotes */
}

#header-wrap
{
	margin: 0 auto;
	width: 1024px;
}

#header h1
{
	float: left;
}

#header p.account
{
	margin-right: 12px;
	float: right;
}

#header p.account em
{
	color: #99ff00;
}

#header a:link, #header a:visited
{
	border-bottom: 1px dotted #ffffff;
	color: #ffffff;
	text-decoration: none;
}

#header a:hover
{
	border-bottom-style: solid;
}

#header div.account
{
	position: relative;
	display: block;
	float: right;
}

ul#dropdown-menu
{
	display: none;
	border: 1px solid #e0e0e0;
	padding: 6px 0;
	position: absolute;
	z-index: 3;
	top: 42px;
	right: 12px;
	width: 180px;
	list-style: none;
	background: #ffffff;
	line-height: 24px;
	-moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 4px;
}

ul#dropdown-menu p
{
	display: block;
}

ul img.dropdown-caret
{
	position: absolute;
	top: -8px;
	right: 12px;
}

ul#dropdown-menu p.flowcharts
{
	font-size: 12px;
}


ul#dropdown-menu em
{
	padding-top: 3px;
	display: block;
	font-size: 24px;
	color: #99ff00;
}

ul#dropdown-menu a:link, ul#dropdown-menu a:visited
{
	padding: 2px 18px;
	display: block;
	color: #666666;
	text-decoration: none;
}

ul#dropdown-menu a:hover
{
	color: #ffffff;
	background: #99ff00;
}

ul#dropdown-menu a:hover em
{
	color: #ffffff;
}


ul#dropdown-menu hr
{
	border: none;
	margin-top: 6px;
	height: 1px;
	background: #e0e0e0;
}

/* =main
------------------------------------------------------------------------------*/

#main
{
	padding: 48px 0;
}

#index #main
{
	margin-top: 179px;							/* -1px for border */
	border-top: 1px solid #e0e0e0;
	position: relative;
	height: 192px;
	overflow: hidden;
}

#main .two-column
{
	/* 'top' solely defines the position of the main content to each other, whereas 'margin-top' defines the main content in relation to the top and bottom borders */
	/*margin-top: 48px;*/
	position: absolute;
	top: -204px;
}

.two-column
{
	width: 250px;
	display: block;
}

.two-column.left
{
	margin-right: 12px;
	left: 0;
}

.two-column.right
{
	right: 0;
}

#log-in-icons img
{
	margin: 16px 6px 0 0;
}

#log-in-icons img.forgot
{
	margin: 16px 0 0 0;
	float: right;
}

#log-in-register div
{
	position: relative;
}

#log-in-register img.username
{
	position: absolute;
	top: 11px;
	left: 12px;
}

#log-in-register img
{
	position: absolute;
	top: 23px;
	left: 12px;
}

#log-in-register input.email-address, #log-in-register img.email-address
{
	display: none;
}

#log-in-register input.username, #log-in-register input.password, #log-in-register input.fake-password, #log-in-register input.email-address
{
	padding: 6px 12px 6px 36px;
	border: none;
	outline: none;
	width: 226px;
	height: 24px;
	background: transparent url(/images/input_active.png);
	font-size: 12px;
	color: #777777;
}

#log-in-register input.password, #log-in-register input.fake-password, #log-in-register input.email-address, #log-in-register input.log-in, #log-in-register input.join-us
{
	margin-top: 12px;
}

#log-in-register input.log-in, #log-in-register input.join-us
{
	margin-right: 12px;
	border: 0;
	float: left;
	width: 250px;
	height: 36px;
	color: transparent;
}

#log-in-register input.log-in
{
	background: transparent url(/images/log_in.png);
}

#log-in-register input.join-us
{
	display: none;
	background: transparent url(/images/join_us.png);
}

#catch-phrase
{
	position: absolute;
}

#catch-phrase p
{
	margin-bottom: 36px;
	font-family: Tetre, Georgia, serif;
	font-size: 41px;
	line-height: 48px;
}

#catch-phrase a:link, #catch-phrase a:visited
{
	border-bottom: 1px dotted #99ff00;
	color: #99ff00;
	text-decoration: none;
}

#catch-phrase a:hover
{
	border-bottom-style: solid;
}

form#create-chart
{
	margin-bottom: 60px;
}

input.flowchart-title
{
	padding: 12px;
	border: none;
	outline: none;
	float: left;
	height: 36px;
	width: 226px;
	background: transparent;
	background-image: url(/images/title2.png);
	font-size: 16px;
	color: #000000;
}

img.flowchart-create
{
	float: right;	
}

#demo-video
{
	position: absolute;
	top: 300px;
}

hr.left, hr.right
{
	margin-top: -1px;
	border: 0;
	width: 244px;
	height: 1px;
	background: #e0e0e0;
}

span.or
{
	position: relative;
	top: -6px;
	margin-left: 3px;
	color: #e0e0e0;
	
}

hr.left
{
	float: left;
}

hr.right
{
	float: right;
}

/* =feed
------------------------------------------------------------------------------*/
#feed
{
	margin-top: 30px;		/* -2px */
	line-height: 24px;
	margin-bottom: 36px;
}

/* =footer
------------------------------------------------------------------------------*/
#footer
{
	clear: both;
	position: fixed;
	color: #666666;
	padding: 12px 0;
	overflow: hidden;
	width: 512px;
	margin: 0 auto;
	bottom: 0;
	background: #fafafa;
}

#footer p
{
	float: right;
}

#footer p.links
{
	float: left;
}

#footer a:link, #footer a:visited
{
	height: 100%;
	color: #666666;
	text-decoration: none;
}

#footer a:hover
{
	color: #000000;
}

/* =profile
-------------------------------------------------------------------------------*/
#profile #main
{
	margin-top: 60px;	
	font-family: Helvetica;
	padding: 0 24px 48px 24px;
	background: #ffffff;
	padding-bottom: 36px;
	font-size: 14px;
	
}

#profile h2
{
	padding: 48px 0 60px 0;
	margin-bottom: 35px;
	border-bottom: 1px solid #e0e0e0;
	font-weight: bold;
	font-size: 30px;
	color: #333333;
}

#edit-account input, #privacy input
{
	margin-bottom: 12px;
	display: block;
	background: #ffffff;
	border: 1px solid #e0e0e0;
	padding: 12px;
}

#edit-account label, #privacy label
{
	width: 120px;
	display: block;
	margin-bottom: 12px;
	float: left;
	margin-right: 24px;
	text-align: right;
	line-height: 36px;
}

#edit-account input.save-profile
{
	margin-left: 144px;
}

#edit-account a.deactivate-account
{
	margin-left: 132px;
	padding: 12px;
	display: block;
}

#notifications input
{
	margin-right: 12px;
}

#notifications label
{
	margin: 12px 0;
	display: block;
}

p.to-do
{
	padding: 12px;
	margin: 24px 0;
	border: 1px solid #e0e0e0;
	background-color: #fafafa;
	line-height: 24px;
}


/* =miscellaneous
------------------------------------------------------------------------------*/
.hide
{
	display: none;
}

a img
{
	border: none;
}

/* =clearfix renamed as group */

.group:after
{
	content: ",";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
